nav.navbar.navbar-default.navbar-static-top(style="background-color: #fff;")
  .container
    .row
      .col-md-3
        h4(style="margin-top: 15px; margin-bottom: 5px;")
          a.text-gray-dark(href="/@#{user.name}")= user.fullname
        p
          a.text-muted(href="/@#{user.name}") @#{user.name}
      .col-md-6
        ul.nav.navbar-nav
          li(class=view || "active")
            a(href="/@#{user.name}")
              small.text-muted(style="display: block;") TWEETS
              strong #{stats.tweets}
          li(class=view === "followings" ? "active" : undefined)
            a(href="/@#{user.name}/followings")
              small.text-muted(style="display: block;") FOLLOWING
              strong #{stats.followings}
          li(class=view === "followers" ? "active" : undefined)
            a(href="/@#{user.name}/followers")
              small.text-muted(style="display: block;") FOLLOWERS
              strong #{stats.followers}
      .col-md-3
        ul.nav.navbar-nav.navbar-right
          li
            div(style="padding: 18px 10px;")
              if me
                a.btn.btn-default(href="/settings" role="button") Edit profile
              else if user.following
                form(action="/follow/#{user.name}" method="post")
                  input(type="hidden" name="_method" value="delete")
                  input.btn.btn-default(type="submit" value="Unfollow")
              else
                form(action="/follow/#{user.name}" method="post")
                  input.btn.btn-default(type="submit" value="Follow")
