extends layout

block content
  include ./menu.jade

  .container(style="margin-top: 15px; margin-bottom: 15px;")
    .row
      .col-md-3
        if user
          .panel.panel-default
            .panel-heading
              a(href="/users")= user.name
            .panel-body
              a(href="/users") TWEETS #{count}

      .col-md-6
        ul.list-group
          each entry in entries
            li.list-group-item
              h3= entry.title
              p= entry.body
              p Posted by #{entry.username}

        include ./pager.jade
      .col-md-3

