extends layout

block content
  include ./menu.jade

  .container(style="margin-top: 15px; margin-bottom: 15px;")
    .row
      .col-md-3
        if user
          .list-group
            .list-group-item
              h4.list-group-item-heading= user.fullname
              p.list-group-item-text
                a.text-muted(href="/users") @#{user.name}
            .list-group-item
              p.list-group-item-text.text-muted TWEETS
              h4.list-group-item-heading
                a(href="/users") #{count}

      .col-md-6
        ul.list-group
          each entry in entries
            li.list-group-item
              h3= entry.title
              p= entry.body
              p.text-muted @#{entry.username}

        include ./pager.jade
      .col-md-3

