extends layout

block styles
  link(rel='stylesheet', href='/css/style.css')
  link(rel='stylesheet', href='/css/tweets.css')

block content
  include components/menu

  .container(style="margin-top: 15px; margin-bottom: 15px;")
    .row
      .col-md-3
        if user
          .list-group
            .list-group-item
              h4.list-group-item-heading
                a.text-gray-dark(href="/profile")=  user.fullname
              p.list-group-item-text
                a.text-muted(href="/profile") @#{user.name}
            .list-group-item
              p.list-group-item-text.text-muted TWEETS
              h4.list-group-item-heading
                a(href="/profile") #{count}

      .col-md-6
        ul.list-group
          each tweet in tweets
            li.list-group-item
              p.list-group-item-heading
                a(href="/users/" + tweet.user.name)
                  strong #{tweet.user.fullname}
                  span &nbsp;
                  span.text-muted @#{tweet.user.name}
                  span &nbsp;-&nbsp;
                  span.text-muted= tweet.created_at
              p.list-group-item-text(style="word-wrap: break-word;")= tweet.text

        include components/pager
      .col-md-3