extends layout

block styles
  link(rel='stylesheet', href='/css/style.css')

block content
  include components/menu

  .container(style="margin-top: 15px; margin-bottom: 15px;")
    .row
      .col-md-3
        if user
          .list-group
            .list-group-item
              h4.list-group-item-heading
                a.text-gray-dark(href="/users/" + user.name)=  user.fullname
              p.list-group-item-text
                a.text-muted(href="/users/" + user.name) @#{user.name}
            .list-group-item
              a(href="/users/#{user.name}")
                small.text-muted(style="display: block;") TWEETS
                strong #{stats.tweets}
              a(href="/users/#{user.name}/followings")
                small.text-muted(style="display: block;") FOLLOWINGS
                strong #{stats.followings}
              a(href="/users/#{user.name}/followers")
                small.text-muted(style="display: block;") FOLLOWERS
                strong #{stats.followers}

      .col-md-6
        if !stats.tweets
          ul.list-group
            li.list-group-item
              include components/form-post

          p.lead.text-muted You haven't tweeted yet.
        else
          ul.list-group
            li.list-group-item
              include components/form-post

            each tweet in tweets
              li.list-group-item
                include components/tweet

          if page.count
            nav
              ul.pager
                if page.number
                  li.previous
                    a(href="/tweets?page=#{page.number}") Previous
                if page.number < page.count - 1
                  li.next
                    a(href="/tweets?page=#{page.number + 2}") Next

      .col-md-3
        if suggestions.length
          ul.list-group
            li.list-group-item
              p.lead(style="margin-bottom: 0;") Who to follow
              a(href="/suggestions") View all
              each suggestion in suggestions
                li.list-group-item
                  a.text-gray-dark(href="/users/" + suggestion.name)
                    strong #{suggestion.fullname}
                    span &nbsp;
                    span.text-muted @#{suggestion.name}
                  form(action="/follow/" + suggestion.name method="post" style="margin: 5px 0;")
                    button.btn.btn-default.btn-sm(type="submit") Follow
