extends layout

block styles
  link(rel='stylesheet', href='/css/style.css')
  link(rel='stylesheet', href='/css/users.css')

block content
  include components/menu

  nav.navbar.navbar-default.navbar-static-top(style="background-color: #fff;")
    .container
      .row
        .col-md-3
          h4
            a.text-gray-dark(href="/users")= user.fullname
          p
            a.text-muted(href="/users") @#{user.name}
        .col-md-6
          ul.nav.navbar-nav
            li.active
              a(href='/users')
                .text-muted TWEETS
                .text-center
                  strong #{count}
            li
              a(href='/users')
                .text-muted FOLLOWING
                .text-center
                  strong #{count}
            li
              a(href='/users')
                .text-muted FOLLOWERS
                .text-center
                  strong #{count}
            li
              a(href='/users')
                .text-muted FAVORITES
                .text-center
                  strong #{count}
        .col-md-3
          ul.nav.navbar-nav.navbar-right
            li
              div(style="padding: 18px 10px;")
                a.btn.btn-default(href="/settings" role="button") Edit profile
  .container
    .row
      .col-md-6.col-md-offset-3
        ul.list-group
          each tweet in tweets
            li.list-group-item
              p.list-group-item-heading
                a(href="/users")
                  strong #{tweet.user.fullname}
                  span &nbsp;
                  span.text-muted @#{tweet.user.name}
                  span &nbsp;-&nbsp;
                  span.text-muted= tweet.created_at
              p.list-group-item-text(style="word-wrap: break-word; margin-bottom: 10px;")= tweet.text
              p.list-group-item-text
                a(href="/users").text-muted
                  span.glyphicon.glyphicon-option-horizontal(aria-hidden="true")

      .col-md-3
