extends layout

block styles
  link(rel="stylesheet", href="/css/style.css")

block content
  include components/menu

  include components/stats-nav

  .container
    .row
      .col-md-6.col-md-offset-3
        if !stats.tweets
          if isMe
            p.lead.text-muted You haven't tweeted yet.
          else
            p.lead.text-muted #{user.fullname} haven't tweeted yet.
        else
          ul.list-group
            each tweet, i in tweets
              li.list-group-item
                include components/tweet

                p.list-group-item-text(style="margin-top: 10px;")
                  ul.list-inline
                    if isMe
                      li.dropdown
                        a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-expanded="true").text-muted
                          span.glyphicon.glyphicon-option-horizontal(aria-hidden="true")
                        ul.dropdown-menu(role="menu")
                          li(role="presentation")
                            //- Button trigger modal
                            a(role="menuitem" tabindex="-1" data-toggle="modal" href="#modal-delete-tweet-" + i)
                              | Delete tweet
                        //- Modal
                        .modal.fade(id='modal-delete-tweet-' + i, tabindex='-1', role='dialog', aria-labelledby='modal-label-delete-tweet-' + i, aria-hidden='true')
                          .modal-dialog
                            .modal-content
                              .modal-header
                                button.close(type="button", data-dismiss="modal", aria-label="Close")
                                  span(aria-hidden="true") ×
                                h4.modal-title(id="modal-label-delete-tweet-" + i) Are you sure you want to delete this Tweet?
                              .modal-body
                                p
                                  a(href="/users/" + user.name).text-gray-dark
                                    strong #{tweet.user.fullname}
                                    span &nbsp;
                                    span.text-muted @#{tweet.user.name}
                                  span &nbsp;-&nbsp;
                                  a(href="/users/" + user.name)
                                    span.text-muted= tweet.created_at
                                p(style="word-wrap: break-word;")= tweet.text
                              .modal-footer
                                form(action="/tweets/" + tweet.id method="post")
                                  button.btn.btn-default(type="button", data-dismiss="modal") Close
                                  input(type="hidden" name="_method" value="delete")
                                  input.btn.btn-primary(type="submit" value="Delete" style="margin-left: 5px;")

          if page.count
            nav
              ul.pager
                if page.number
                  li.previous
                    a(href="/users/#{user.name}?page=#{page.number}") Previous
                if page.number < page.count - 1
                  li.next
                    a(href="/users/#{user.name}?page=#{page.number + 2}") Next
